---
const { sideBarActiveItemID } = Astro.props;
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/" class:list={{ active: sideBarActiveItemID === "home" }}>Home</a></li>
    <li><a class="py-3 text-base" id="about" href="/about" class:list={{ active: sideBarActiveItemID === "about" }}>About</a></li>
    <li><a class="py-3 text-base" id="projects" href="/projects" class:list={{ active: sideBarActiveItemID === "projects" }}>Projects</a></li>
    <li><a class="py-3 text-base" id="cv" href="/cv" class:list={{ active: sideBarActiveItemID === "cv" }}>CV</a></li>
    <li>
        <a class="py-3 text-base" href="mailto:your.email@example.com" target="_blank">
            Contact
        </a>
    </li>
</ul>

<style>
    .active {
        background-color: hsl(var(--p));
        color: hsl(var(--pc));
    }
</style>
